@model PhysicalExerciseViewModel
@inject IExerciseNames ExerciseNames

<div class="card border-0">
    <div class="card-body border-0 p-0 m-0">
        <p class="p-1 text-body">@(ExerciseNames.GetExerciseName(Model.ExerciseId)?.Name ?? "<NONE>")</p>
        <p class="p-1 text-body">Value: @(Model.Value)</p>
    </div>
</div>