@model PhysicalExerciseViewModel


<div class="card border-0">
    <div class="card-body border-0 p-0 m-0">
        <p class="p-0 text-body">Body part: @(Model.BodyPart.ToString())</p>
        <p class="p-1 text-body">@(Model.Name)</p>
        <p class="p-1 text-body">Value: @(Model.Value)</p>
    </div>
</div>