@model TrainingViewModel

<div class="card">
    <div class="card-body">
        <p>@Model.Date</p>
        <a class="btn btn-primary" asp-page="AddExercise" asp-route-id="@Model.Id">Add Exercise</a>
        <br>
        
        <h4>Exercises:</h4>
        <ul class="list-group">
            @foreach (var exercise in Model.Exercises)
            {
                <li class="list-group-item">
                    <partial name="_ExerciseView" model="exercise" />
                </li>
            }
        </ul>
        
    </div>
</div>

