@page
@model SimplePages.Pages.Gym.AddExercise

<form asp-page="AddExercise">
   
    <input asp-for="TrainingId" type="hidden" />
   
    <div class="form-group">
        <label asp-for="Exercise.ExerciseId">Name</label>
        <select asp-for="Exercise.ExerciseId" asp-items="Model.ExerciseNameItems" class="list-group"></select>
    </div>

    <div class="form-group">
        <label asp-for="Exercise.Value">Value</label>
        <input asp-for="Exercise.Value">
    </div>
    <input type="submit" class="btn btn-primary" value="Add Exercise">
</form>