@page
@model SimplePages.Pages.Gym.AddTraining

<form asp-page="AddTraining" method="post">
    <input asp-for="Training.Id">
    
    <div class="form-group">
        <label asp-for="Training.Date"></label>
        <input asp-for="Training.Date" >
        <span asp-validation-for="Training.Date"></span>
    </div>
    
    <div class="row">
        <div class="col justify-content-sm-end">
            <input type="submit" value="Add Training">
        </div>
        <div class="col justify-content-sm-end">
            <a class="btn btn-secondary" asp-page="Trainings">Return to trainings</a>
        </div>
    </div>
    
</form>